
body {
  background-color: #202021;
}

.Dashboard {
  display: flex;
  margin-top: 50px;



  .Cards {
    margin-left: 5%;
    display: grid;
    grid-template-columns: auto auto auto auto;

    border-radius: 12px;
    flex-direction: row;


  }

}
.buttonGroup{

  margin-left:50%;
  display: flex;


  .nextPageButton{
    color: white;
    font-size: larger;
    background-color:#525257 ;
    border:1px solid #767683;
    border-radius: 5px;
    padding: 5px;
  margin-left: 5px;


  }
  .prevPageButton{
    color: white;
    font-size: larger;
    background-color:#525257 ;
    border:1px solid #767683;
    border-radius: 5px;
    padding: 5px;


  }

}

