
body {
  background-color: #202021;
}

.Dashboard {
  display: flex;
  margin-top: 50px;

  .sideBar {


  }

  .Cards {
    margin-left: 5%;
    display: grid;
    grid-template-columns: auto auto auto auto;

    border-radius: 12px;
    flex-direction: row;


  }

}


